@import url('https://fonts.googleapis.com/css?family=Sansita');

main{
	display: flex;
	flex-direction: row;
}
.main1{
padding: 70px 0px 10px 50px;
font-size : 1.6em;
text-align: justify;
font-family: 'Sansita', sans-serif;
}
.main2{

}
aside img{
	width: 500px;
	height: 800px;

}
@media (max-width: 800px){
	main{display: flex; flex-direction: column-reverse;}
	.main1{width: 95%; font-size: 0.5em; padding: 5px;}
	
	aside{width: 95%; }
	aside img{

		width: 95%;
		height: 600px;
	}

}
