/* Name= Rupak Shrestha 
Student ID= 16418521*/ 
/*this font is imported from google font*/
@import url('https://fonts.googleapis.com/css?family=Sansita');

main{
	display: flex;
	flex-direction: row;
}
.main1{
padding: 70px 0px 10px 50px;
font-size : 1.6em;
text-align: justify;
font-family: 'Sansita', sans-serif;/* this font family is imported from google font*/
}

aside img{/*defines the properties of image within the aside */
	width: 500px;
	height: 800px;

}
@media (max-width: 800px){/*defines the properties of resposnsiveness for the bio*/
	main{display: flex; flex-direction: column-reverse;}
	.main1{width: 95%; font-size: 0.5em; padding: 5px;}
	
	aside{width: 95%; }
	aside img{

		width: 95%;
		height: 600px;
	}

}
