/* Name= Rupak Shrestha 
Student ID= 16418521*/ 
/*this is css file of contact*/
.contact0{
	display: flex;
	flex-direction: row;
	margin-top: 5%;
	padding-bottom: 70px;
	}

.contact0 h3 {
	font-family: 'Roboto', sans-serif;/*imported font family form google font*/
	display: block;
	font-size: 2em;/*font size expressed in em*/
}


	

.contact111 {
	margin-left: 10%;
	width: 350px;
	border-radius: 15px;/*creates the radius over border*/
	background-color:#e4e4e4;/*color code are used instead of name*/
	padding:25px;
	border:2px solid white;
	box-shadow: 0px 0px 15px black;

}


.contact0 h4 {
	font-family: 'Sansita', sans-serif;/* this font family is imported from google font*/
	margin:5px 0 25px 5px;
	font-size:1em;
}


fieldset {/* defines the property of fieldset of this css file*/

	border:none; 
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}


fieldset input  {/*defines the property of input inside the fieldset*/
	width:90%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}


fieldset textarea{/*defines the property of textarea inside the textarea*/
	width:90%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;

}


fieldset button {/*defines the property of the button inside the fieldset*/
	cursor:pointer;
	width:95%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:1em;
	transition-duration: 1s;
}
fieldset button:hover{ /*properites of the button on cursor is hover on it*/
background-color: green;

}


.contact2{
	margin-left: 5%;
	width: 35%;
	border-radius: 15px;
	background:#e4e4e4;
	padding:25px;
	border:2px solid white;
	font-size: 1em;
	box-shadow: 0px 0px 15px black;
}
.contactdetail1 img{
	transition-duration: 1.5s;
}
.contactdetail1 img:hover{
	transform: scale(1.2,1.2) rotate(360deg);


}

.contactdetail1{
	margin: 10px;
	display: flex;
	flex-direction: row;

}
.contactdetail1 p{
	 font-family: 'Roboto', sans-serif;	 /*imported font family from the google fonts*/
	  font-size: 1em;
	margin-left: 10px;
	padding: 5px;
}


@media (max-width: 800px){/*defines the responsive property of the contact*/

	.contact0{display: flex; flex-direction: column;}
	.contact111 {margin: 5px; width: 80%;}
	.contact2{ margin: 5px; font-size: 0.8em; width: 80%;}
	.contact0 h4{font-size: 0.5em;}
}