/* Name = Rupak Shrestha 
Student ID =16418521*/

   /*imported  font from google font*/
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Supermercado+One');
*{
	padding:0px;  	/* change the default padding and margine of any tag to 0;*/
	margin: 0px;
}


body{
	
	}


header{
	background: -webkit-linear-gradient( to top left, #093a6e, #808e9b); /* For the Safari browser from 5.1 to 6.0 */
    background: -o-linear-gradient(  to top left, #093a6e, #808e9b); /* For Opera from 11.1 to 12.0 */
    background: -moz-linear-gradient( to top left, #093a6e, #808e9b); /* For Firefox from 3.6 to 15 */
    background: linear-gradient( to top left, #093a6e, #808e9b); /* For the latest verson of the browser */
	display: flex;				/*defines the direction of the flexible items inside the flex container*/
	flex-direction: row;			/* defined the direction of flex as row*/
	background-color: white;
}


.logo{
	cursor: pointer; /* change the defult cursor to the pointer*/
	padding: 0px 10px;
	transition-duration: 1s;/* duration of the effect*/
}



.logo:hover{
	transform: scale(1.1,1.1); /*css property for enlarging the content*/
}


.title h3{
    padding-top: 55px;
	color: #a4d1ff;
	font-size: 2em;
    font-family: 'Audiowide', cursive;/* style of the font*/
}


.nav{


}


.nav ul{
	margin-right: 15px;
	display: flex;
	flex-direction: row;
	list-style-type: none;
	justify-content: flex-end;

}


.nav ul li{
	height: 50px;
	width: 175px;
	line-height: 50px;
	justify-content: flex-end;	 /* justify the content toward the end of any section*/
	display: block;	/* The text or the content is define as a block*/
	font-family: 'Roboto', sans-serif;	 /*imported font family from the google fonts*/

}


.nav ul li a{
	width: 174px;
	text-decoration: none; 	/* defines the decoration of text */
	color: white;	/* define the colour of the font*/
	font-size: 2em;
	font-weight: 700;
	display: block;
	text-align: center;
	margin-right: 30px;
	transition-duration: 1s;
}


.red{
	background-color:#1c4875;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.black:hover{/* hover is used to select the element when mouse moves over them*/
	color: white;
	background-color:#1c4875;
	border-bottom-left-radius: 15px; /*border radius only for the bottom left*/
	border-bottom-right-radius: 15px;/*border radius only for the bottom right*/
}

section{
	padding-bottom: 50px; /* defines the padding for bottom only*/
	background: -webkit-linear-gradient( to bottom left, #80a5c2, #cecece); /* For the Safari browser from 5.1 to 6.0 */
    background: -o-linear-gradient( to bottom left, #80a5c2, #cecece); /* For Opera from 11.1 to 12.0 */
    background: -moz-linear-gradient( to bottom left, #80a5c2, #cecece); /* For Firefox from 3.6 to 15 */
    background: linear-gradient( to bottom left, #80a5c2, #cecece); /* For the latest verson of the browser */
}


.topic h2{

	font-size: 3em;
	width: 35%;
	padding: 15px;
	background: linear-gradient( to left,#1c4875, #4e6781);
	border-bottom-right-radius: 35px;
	border-top-right-radius: 35px;/*border radius only for the top right*/
	color: white;
	font-family: 'Audiowide', cursive;
	box-shadow: -5px -5px  20px black;
}



.image{
	   margin-top: 15px;
	   text-align: center; /* The code is used the align the text in the center*/

}


.image img{
	border-radius: 100%;
	border:2px solid #3c3c3c; /* The border formed around the content*/
	box-shadow: 0px 0px 60px black; /* Formes the Shadow of box or the block*/
}
.image p{
	font-weight: 700; /*define the weight of the text*/
	font-size: 2em; /*define the font size of the text*/
	text-shadow: 0px 0px 5px brown;/* The shadow of text is formed*/
}


.main{
	margin-left: 15%;
	margin-right: 15%;
}


section h3{
	margin-bottom: 5px;/* defines the margine for bottom only*/
	background: -webkit-linear-gradient(  to right,  #526e8a, #526d89); /* For the Safari browser from 5.1 to 6.0 */
    background: -o-linear-gradient( to right,  #526e8a, #526d89); /* For Opera from 11.1 to 12.0 */
    background: -moz-linear-gradient( to right,  #526e8a, #526d89); /* For Firefox from 3.6 to 15 */
	background: linear-gradient( to right,  #526e8a, #526d89);/*for the standerd latest version browser*/
	color: white;
	font-size: 2em;
	padding: 4px 0px 4px 15px;
	border-top-right-radius:5px; 
	border-top-left-radius:5px;
}


section h4{
	margin-top: 15px;
	font-size: 1.5em;
	padding-left: 10px; /*defines the padding for left only*/
	
}


.personal{
	background-color:#88a0b9;
	margin-top: 25px;
	text-align: justify; /*Justify the alignment of the text*/
	margin-bottom: 20px;
	border-radius: 5px;
}


.personal p{
	padding: 10px; /*defines the spacing between the component inside one content*/
	font-size: 1.3em;
	font-family: 'Roboto', sans-serif;
}


.education{
	background-color: #88a0b9;
	border-radius: 5px;
}


.education ul{
 list-style-type: none;/* define the types of style*/
 padding:0 5px 15px 15px;
}


.education ul li {
	font-size: 1.3em;
	font-family: 'Roboto', sans-serif;
}


.traning{
	background-color:#88a0b9;
	margin-top: 25px;
	border-radius: 5px;
}


.traning ul{
 list-style-type: none;
 padding: 0px 15px 15px 15px;
}


.traning ul li {
	font-size: 1.3em;
	font-family: 'Roboto', sans-serif;

}


.keyskill{
	background-color: #88a0b9;
	margin-top: 25px;
	border-radius: 5px;

}


.keyskill ul{
 padding: 0px 0px 15px 25px;

}



.keyskill ul li {
	font-family: 'Roboto', sans-serif;
	font-size: 1.3em;
	margin-left: 25px;
}


footer{
	color: #d6e6f5;
	background: -webkit-linear-gradient(  to top left, #093a6e, #808e9b); /* For the Safari browser from 5.1 to 6.0 */
    background: -o-linear-gradient(  to top left, #093a6e, #808e9b); /* For Opera from 11.1 to 12.0 */
    background: -moz-linear-gradient( to top left, #093a6e, #808e9b); /* For Firefox from 3.6 to 15 */
    background: linear-gradient(  to top left, #093a6e, #808e9b); /* For the latest verson of the browser */
}


.footer1{
	display: flex;
	flex-direction: row;
	padding: 5px 0px 5px 20px;
}


.footer1 p{
	cursor: pointer;
	padding: 0px 0px 0px 15px;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	transition-duration: 0.8s;
}


footer h2{
	font-size: 2em;
	padding:5px 0px 5px 10px;
	font-family: 'Bitter', serif;

}

.icon{
	display: flex; 
	flex-direction: row;

}

.icon img{
	cursor: pointer;
	margin:5px 15px 5px 0px;
	transition-duration: 1s;
}
.icon img:hover{
	transform: scale(1.3,1.3);
	color: white;
}



.footer2{
	color: white;
	background-color: #093a6e;
	padding: 5px 5px 5px 50px;
}

.footer1 a{ 
	color: black;
	text-decoration: none;
}
.footer11{
	font-size: 1em;
	margin-left: 2%;
}
.footer12{
	margin-left: 10%;
}
.footer13{
	display: flex;
	flex-direction: row;
	margin-right: 25px;
	margin-left: 25px;
}
@media (max-width: 800px){/* media makes the webpage responsive according to the width of the screen*/
	.nav ul{display: flex; flex-direction: column; margin:0px;}
	.nav ul li{width: 100%;}
	.nav ul li a{width: 100%; text-align: center;}
	.red{width: 100%; border-bottom-right-radius:0px; border-bottom-left-radius: 0px;}
	.black:hover{
		width: 100%; border-bottom-right-radius:0px; border-bottom-left-radius: 0px;
	}
	header{display: flex; flex-direction: column;}
	.logo{width: 100%; text-align: center;}
	.title h3{width: 100%; text-align: center; padding-bottom: 20px; padding-top: 10px;}
	.topic {width: 100%;}
	.topic h2{width: 100%; font-size: 1.5em; text-align: center; border-radius: 0px; padding:15px 0px 15px 0px;}
	.main {text-align:left; font-size: 0.8em;}
	.footer1{display: flex; flex-direction: column;}
	.footer12{margin-left: 0px; margin-top: 15px;}

}