/* Name = Rupak Shrestha 
Student ID =16418521*/

   /*imported  font from google font*/
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Supermercado+One');
@import url('https://fonts.googleapis.com/css?family=Bitter:400,700');
@import url('https://fonts.googleapis.com/css?family=Arvo:400,700');
*{
	margin: 0px;
	padding: 0px;
}
body{

}

header{
	background: -webkit-linear-gradient( #808e9b, #093a6e);/*for safari*/
	background: -o-linear-gradient( #808e9b, #093a6e);/*for the opera*/
	background: -moz-linear-gradient( #808e9b, #093a6e);/*for the mozilla*/
	background: linear-gradient(  #808e9b, #093a6e);	/* Mixture of two color green and orange from top left to bottom right as gradient*/
	display: flex;				/*defines the direction of the flexible items inside the flex container*/
	flex-direction: row;			/* defined the direction of flex as row*/

}


.logo{
	cursor: pointer;/*change the cursor into a pointer*/
	padding: 0px 10px;
	transition-duration: 1s;
}



.logo:hover{
	transform: scale(1.1,1.1);
}
.title{
	

}

.title h3{
  	 padding-top: 55px;
	color: #a4d1ff;
	font-size: 2em;
    font-family: 'Audiowide', cursive;
    transition-duration: 4s;
}

.title:hover h3{
	cursor: pointer;
	transform: rotateY(360deg);
	color: brown;
}

.nav{


}
.nav ul{
	margin-right: 15px;
	display: flex;
	flex-direction: row;
	list-style-type: none;
	justify-content: flex-end;

}

.nav ul li{
	height: 50px;
	width: 175px;
	line-height: 50px;
	justify-content: flex-end;	 /* justify the content toward the end of any section*/
	display: block;	/* The text or the content is define as a block*/
	font-family: 'Roboto', sans-serif;	 /*imported font family from the google fonts*/

}

.nav ul li a{
	width: 174px;
	text-decoration: none; 	/* defines the decoration of text */
	color: white;	/* define the colour of the font*/
	font-size: 30px;
	font-weight: 700;
	display: block;
	text-align: center;
	margin-right: 30px;
	transition-duration: 1s;
}

.red{
	background-color:#0b3b6f;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: 0px 10px 10px #466b84;
}

.black:hover{/* hover is used to select the element when mouse moves over them*/
	background-color:#0b3b6f;
	border-bottom-left-radius: 15px; /*border radius only for the bottom left*/
	border-bottom-right-radius: 15px;/*border radius only for the bottom right*/
}






.image1{
	background-image: url(../images/image1.jpg);/* background image is refrenced from temple university career center*/
	width:100%;
	height:758px;
	background-size: cover;
	
}
.text{
	cursor: pointer;
	color: yellow;
	font-weight: 900;
	font-size: 70px;
	padding: 200px 0px 0px 50px;
	text-shadow: 0px 0px 50px black;
	transition-duration: 2s;
	font-family: 'Arvo', serif;
}
span{
	transition-duration: 0.5s;
}
span:hover{
	color:white;
	text-shadow: 0px 0px 30px black;
}
.topic{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background: -webkit-linear-gradient(  to right ,#6a8da9, white);
	background:-o-linear-gradient( to right ,#6a8da9, white);
	background: -moz-linear-gradient( to right ,#6a8da9, white);
	background: linear-gradient( to right ,#6a8da9, white);
}
.topic1{
	margin: 30px;
 	border:5px solid white;
	 border-radius: 5%;
	width: 247px;
	height: 247px;
	box-shadow: 0px 0px 40px black;
	overflow: hidden;
}
.topic1 a{
	text-decoration: none;
	color: white;
	display: block;
}
.topic1 img{
	cursor: pointer;
	transition-duration: 1s;
}

.topic1:hover img{
	transform: rotate(30deg) scale(1.5,1.5);
}
.topic11{
	height: 247px;
	width: 247px;
	background-color: rgba(0,188,239,0.5);
	transition: transform 1s;
}
.topic1:hover .topic11{
	cursor: pointer;
	transform: translateY(-251px);
}

.detail{
	padding: 35% 35%;
	height: 50px;
	width: 100px;
	font-size: 40px;
	font-weight: 900;
	color:white;
	text-shadow: 0px 0px 10px red;

}

footer{
	color: #d6e6f5;
	background: -webkit-linear-gradient(  to top left, #093a6e, #808e9b); /* For the Safari browser from 5.1 to 6.0 */
    background: -o-linear-gradient(  to top left, #093a6e, #808e9b); /* For Opera from 11.1 to 12.0 */
    background: -moz-linear-gradient( to top left, #093a6e, #808e9b); /* For Firefox from 3.6 to 15 */
    background: linear-gradient(  to top left, #093a6e, #808e9b); /* For the latest verson of the browser */
}


.footer1{
	box-shadow: 0px 0px 35px #093a6e;
	display: flex;
	flex-direction: row;
	padding: 5px 0px 5px 20px;
}


.footer1 p{
	cursor: pointer;
	padding: 0px 0px 0px 15px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	transition-duration: 0.8s;
}

.footer1 h2{
	padding:5px 0px 5px 10px;
	font-family: 'Bitter', serif;

}


.icon img{
	cursor: pointer;
	margin:5px 15px 5px 0px;
	transition-duration: 1s;
}
.icon img:hover{
	transform: scale(1.3,1.3);
	color: white;
}



.footer2{
	color: white;
	background-color: #093a6e;
	padding: 5px 5px 5px 50px;
}


.footer1 a{ 
	color: black;
	text-decoration: none;
}
.footer11{
	font-size: 16px;
	margin-left: 2%;
}
.footer12{
	margin-left: 10%;
}
.footer13{
	display: flex;
	flex-direction: row;
	margin-left: 25px;
}
@media (max-width: 800px){/* media makes the webpage responsive according to the width of the screen*/
	.nav ul{display: flex; flex-direction: column; margin:0px;}
	.nav ul li{width: 100%;}
	.nav ul li a{width: 100%; text-align: center;}
	.red{width: 100%; border-bottom-right-radius:0px; border-bottom-left-radius: 0px;}
	.black:hover{
		width: 100%; border-bottom-right-radius:0px; border-bottom-left-radius: 0px;
	}
	.text{font-size: 35px; padding-bottom: 50px; padding-top: 10px;}
	header{display: flex; flex-direction: column;}
	.title h3{ text-align: center; padding-top: 30px; padding-bottom: 50px;}
	.logo{width: 100%; text-align: center;}
	.image1{width: 100%; height: 100%; }
	article{padding: 15px 0px 30% 0px; font-weight: 500; font-size: 25px; }
	.topic{display: flex; flex-direction: column; justify-content: flex-end;}
	.footer1{display: flex; flex-direction: column;}
	.footer12{margin-left: 0px; margin-top: 15px;}
	.footer2{padding: 5px;}

}
